<p>Find me in app/views/articles/index.html.erb</p>
<h3>Article in index html</h3>
our blog has <%= Article.count %> articles and counting!
<ul>
<%@articles.each do |article|%>
  <% unless article.archived?%>
  <li>
    <%=link_to article.title,article%>
  </li>
  <% end%>
<%end%>
</ul>
<%=link_to "New Article link", new_article_path %>
